/* 전체적인 폰트와 배경 설정 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0; /* 연한 회색 배경 */
  color: #333333; /* 어두운 회색 텍스트 */
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container, .chat-container {
  width: 350px;
  background-color: #FFFFFF; /* 흰색 배경 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2, .chat-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #2C3E50; /* 진한 네이비 */
}

input[type="email"], input[type="text"], input[type="password"], .message-input, .recipient-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #F0F0F0; /* 연한 회색 */
  color: #333333; /* 어두운 회색 텍스트 */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2C3E50; /* 진한 네이비 */
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1A252F; /* 더 어두운 네이비 */
  color: #FFFFFF;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #FFFFFF; /* 흰색 배경 */
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #F0F0F0; /* 연한 회색 */
  color: #333333; /* 어두운 회색 텍스트 */
}

.sent {
  background-color: #2C3E50; /* 진한 네이비 */
  align-self: flex-end;
  color: #FFFFFF;
}

.received {
  background-color: #F0F0F0; /* 연한 회색 */
  align-self: flex-start;
  color: #333333; /* 어두운 회색 텍스트 */
}

.input-container {
  display: flex;
}

.recipient-input {
  width: 30%;
  margin-right: 10px;
  background-color: #F0F0F0; /* 연한 회색 */
  border: 1px solid #ddd;
}

.message-input {
  flex: 1;
  margin-right: 10px;
  background-color: #F0F0F0; /* 연한 회색 */
  border: 1px solid #ddd;
}

.send-button {
  width: 100px;
  background-color: #2C3E50; /* 진한 네이비 */
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #1A252F; /* 더 어두운 네이비 */
  color: #FFFFFF;
}
